@use "main";

@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.game-board {
  width: 100vw;
  height: 100vh;
  @include main.flex;
  padding: 10px;
  @include main.background-image;

  &.level_1 {
    background-image: url("../images/haunted-castle-9660829_1920.png");
  }
  &.level_2 {
    background-image: url("../images/haunted-house-7567396_1920.jpg");
  }
  &.level_3 {
    background-image: url("../images/haunted-house-7569051_1920.jpg");
  }

  h2 {
    @include main.henny-penny-regular;
    font-size: 3rem;
    letter-spacing: 1px;
    text-align: center;
    margin: 0 10px 0;
    color: main.$primary-color;
    text-shadow: rgba(0, 0, 0, 0.815) -1px 5px 3px;
  }

  #timer {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: orangered;
    font-size: 2rem;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.815) -1px 3px 1px;
  }

  .grid-container {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px auto;
    height: 90vh;
    max-width: 1000px;
    padding: 10px;
    @media (min-width: 576px) {
      grid-template-columns: repeat(6, 1fr);
      width: 90vw;
      height: auto;
    }
    &.level_1 {
      grid-template-columns: repeat(2, 1fr);
      @media (min-width: 576px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (min-width: 768px) {
        grid-template-columns: repeat(6, 1fr);
        width: 90vw;
        height: auto;
      }
    }

    .card {
      aspect-ratio: 1 / 1;
      border: 4px solid lightgoldenrodyellow;
      border-radius: 10%;
      transition: all 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
        scale: 1.01;
      }

      &.red {
        background-color: red;
      }
      &.blue {
        background-color: blue;
      }
      &.yellow {
        background-color: yellow;
      }
      &.green {
        background-color: green;
      }
      &.orange {
        background-color: orange;
      }
      &.purple {
        background-color: purple;
      }
      &.brown {
        background-color: brown;
      }
      &.gray {
        background-color: gray;
      }
      &.lightgreen {
        background-color: lightgreen;
      }
      &.cadetblue {
        background-color: cadetblue;
      }
      &.violet {
        background-color: violet;
      }
      &.cyan {
        background-color: cyan;
      }
      &.hidden {
        background: linear-gradient(95deg, #daa520 22%, #ffd900 86%);
      }
      &.off {
        cursor: auto;
        opacity: 0;
        border: none;
        &:hover {
          scale: 1;
        }
      }
    }
  }

  .next-level {
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    h3 {
      @include main.henny-penny-regular;
      font-size: 2rem;
      letter-spacing: 1px;
      text-align: center;
      color: main.$primary-color;
      text-shadow: rgb(0, 0, 0) -1px 2px;
      @media (min-width: 768px) {
        font-size: 2.5rem;
      }
    }

    button {
      @include main.button;
      span {
        @include main.span;
      }
      &.btn-lvl_3 {
        order: 1;
        span {
          font-size: 2rem;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      &:nth-child(3) span {
        font-size: 2rem;
        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }
}
