body {
  font-family: 'Segoe UI', sans-serif;
  background: #5695d3;
  margin: 0;
  padding: 0;
}

.card {
  width: 80px;
  height: 80px;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 8px;
}
